.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-area {
  width: 100%;
  margin-left: 0; /* Đặt khoảng cách giữa content và thanh điều hướng thành 0 */
  padding-left: 20px; /* Đặt khoảng cách giữa content và thanh điều hướng để không dính sát hoàn toàn */
}

.sticky-top {
  position: sticky;
  top: 20px;
}

.d-flex {
  display: flex;
}

/* Đặt chiều cao 100% cho body và html */
html, body {
  height: 100%;
  margin: 0;
}

/* Đảm bảo layout của trang luôn chiếm đủ chiều cao */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Chiều cao tối thiểu 100% viewport */
}

/* Đặt nội dung chính để chiếm tối đa không gian có thể */
.content {
  flex: 1;
}

/* Đảm bảo footer luôn nằm cuối trang */
footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
